

<form class="form-signin" method="POST" action="/register">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Registro de usuario</h1>
    <p style="display: none;">
      Template source:
        <a href="https://getbootstrap.com/docs/4.0/examples/" target="_blank">
          https://getbootstrap.com/docs/4.0/examples/
        </a>
    </p>
    <p>
      Already have an account? <a href="/login">Login</a>
    </p>
  </div>

  {{#if errors.length}}
    <div class="alert alert-danger">
      Oops! the following errors were found:
      <ul>
        {{#each errors}}
          <li>[{{param}}]: {{msg}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-label-group">
    <input type="text" name="name" id="inputName" class="form-control" placeholder="Name">
    <label for="inputName">Name</label>
  </div>

  <div class="form-label-group">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Password">
    <label for="inputConfirmPassword">Confirm password</label>
  </div>

  <div class="form-label-group" style="display: none;">

<div>
  <input type="radio" id="adm" name="role" value="admin" class="form-control" checked >
  <label for="adm">Admin</label>
</div>

<div>
  <input type="radio" id="usr" name="role" value="user" class="form-control" >
  <label for="usr">User</label>
</div>

  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">© {{year}}</p>
</form>
