<main role="main" class="container">
  <div class="starter-template">
    <h1>Hello {{user.role}}, {{ user.name }} to my page</h1>
    <p>
      <a>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan, <br>
          turpis eu congue tincidunt, turpis erat ultrices lectus, eu facilisis arcu <br>
          libero in tellus. Morbi vehicula posuere diam, id bibendum magna euismod at. <br>
          Donec sed ipsum eu justo molestie egestas. In in ultrices turpis. Aliquam fermentum <br>
          accumsan est quis accumsan. Curabitur augue urna, feugiat ut semper vel, bibendum id sem.<br>
           Nunc hendrerit lobortis massa, id efficitur purus elementum eget. Etiam ac ultrices nulla.<br>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sollicitudin magna sed<br>
             metus efficitur, vitae molestie est ullamcorper. Pellentesque habitant morbi tristique <br>
             senectus et netus et malesuada fames ac turpis egestas.<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat fringilla egestas<br>
. Mauris ac mauris ante. Aliquam eget pretium ante. Orci varius natoque penatibus et magnis<br>
 dis parturient montes, nascetur ridiculus mus. Nunc finibus pellentesque ligula nec tristique.<br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at nibh rhoncus, sollicitudin<br>
   mauris nec, semper urna. <br>
   <br>
      </a>
      <a href="/logout">Cierra sesión</a>
    </p>


  </div>
</main>
